@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --color-primary: #FFA500;
    --color-secondary: #FFD700;
    --color-tertiary: #32CD32;
    --color-dark: #333333;
    --color-light: #FFFFFF;
    --color-black: #000000;
}
/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(66, 48, 224);
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.footer {
    flex-shrink: 0;
}

.content {
    flex: 1 0 auto;
}

.navbar {
    border-bottom: 1px solid #000000;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.nav-link {
    font-size: 14px;
    font-weight: bold;
    color: rgb(251, 251, 251);
    padding: 10px 15px;
}

.nav-link:hover,
.nav-link:focus {
    color: #FFD700;
}

#navbarDropdownMenuLink1 {
    color: var(--color-light);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
}

.dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #202020;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown-item {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 20px;
}

.dropdown-item:hover,
.dropdown-item:focus {
    display: block;
    background-color: #FFA500;
    color: #000000;
}

.form-control {
    border-radius: 25px;
}

.btn-outline-success {
    border-color: #FFA500;
    color: #ffffff;
    font-weight: bold;
    border-radius: 25px;
}

.btn-outline-success:hover {
    background-color: #FFA500;
    color: #fff;
}

.carousel {
    position: relative;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    align-items: center;
    align-content: center;
    transform: translateY(100%) translateX(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel-indicators button {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border-color: #FFD700;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
}

span a {
    color: var(--color-primary);
    font-weight: bold;
}

span a:hover,
span a:focus {
    color: var(--color-black);
    background-color: var(--color-secondary);
    font-weight: bold;
}

a {
    text-decoration: none;
    display: block;
    padding: 3px;
    color: #ffffff;
}

a:hover,
a:focus {
    color: #32CD32;
}

li:hover,
li:focus h5 {
    color: #FFA500;
}

.titulo_blanco {
    color: #ffffff;
    display: block;
}

i {
    font-size: 25px;
    padding: 5px;
}

.centrar {
    align-items: center;
    align-content: center;
}

p {
    text-align: justify;
}

.tamano_img_product_carro {
    width: 80%;
    padding: 6px;
}

.custom-button {
    display: inline-block;
    padding: 0.2rem 0.2rem;
}

.dropdown-large {
    padding: 1rem;
}

@media all and (min-width: 700px) {
    .dropdown-large {
        min-width: 600px;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 80%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 20px 10px 20px;
}

.card-body {
    flex: 1;
}

.card-img-top {
    width: auto;
    max-height: 200px;
    object-fit: cover;
}

@media (min-width: 768px) {
    .card {
        max-width: 400px;
    }
}


@media (max-width: 200px) {
    .card {
        flex: 1 1 65%; 
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 90%; 
    }
}

#productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#productos-container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 80%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 20px 10px 20px;
}

#productos-container .card-body {
    flex: 1;
}

#productos-container .card-img-top {
    width: auto;
    max-height: 200px;
    object-fit: cover;
}

#productos-container .btn {
    margin: 5px;
    border-radius: 4px;
}

#productos-container .input-group {
    width: 100%;
    max-width: 150px;
    margin: 10px auto;
}

#productos-container .input-group .btn {
    border-radius: 0;
}

#productos-container .input-group .form-control {
    text-align: center;
    padding: 0.375rem 0.75rem;
    border-radius: 0;
}

#productos-container .descripcion {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.carrito-item-nombre {
    font-weight: bold;
}

.carrito-item-cantidad,
.carrito-item-precio {
    margin-left: 10px;
}

#carrito-offcanvas {
    width: 400px;
}

.offcanvas-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.offcanvas-body {
    padding: 20px;
    overflow-y: auto;
}

.offcanvas-body .producto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.offcanvas-body .producto img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.offcanvas-body .producto .info {
    flex: 1;
}

.offcanvas-footer {
    padding-top: 10px;
    padding-bottom: 10px;
}
 */